@import '../../styles/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Sora:wght@100..800&display=swap');


.hero{
    margin-top: 4.5rem;
    height: 780px;

    @include respond(tab-port){
        margin-top: 0;
    }

    &_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-top: 10rem;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh; 
            margin-top: 0; 
        }
    }

    &_left {
        padding-block: 5rem;
    }

    .hero_left_references {
        display: flex;
        align-items: center;
        margin-top: 55px;
        position: absolute;

        @include respond(tab-port){
            text-align: center;
            width: auto; 
            margin: 0;
        }
        
    
        a {
            margin-right: 10px; 
            border: 2px solid #A71616;
            border-radius: 50px;
            color: var(--primary-color);
            display: inline-flex; 
            align-items: center; 
            justify-content: center; 
            width: 50px; 
            height: 50px;
            transition: 0.5s ease;

            &:hover{
                border: solid 2px #fff;
                color: #fff;
                transition: 0.5s ease;
            }
            
            img {
                flex-grow: 0;
                padding: 3px;
                justify-content: center;
                align-items: center;
            }
        }

        #linkedin{
            width: 45px;
            height: 45px;
        }

        #instagram{
            width: 40px;
            height: 40px;
        }

        #email{
            width: 45px;
            height: 45px;
        }

        #github{
            width: 45px;
            height: 45px;
        }
    
        #curriculum {
            font-size: 22px; 
            padding: 10px;
            border-radius: 50px;
            border: solid 6px #a71616;
            margin: 0px 22px 0px 0px;
            gap: 10px;
            width: 245px;
            height: 67px;
            flex-grow: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            transition: 0.5s ease;

            &:hover{
                border: solid 6px #fff;
                transition: 0.5s ease;
            }
        }
    }

    h3{
        width: 222px;
        height: 45px;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #f4f1f1;

        @include respond(tab-land) {
            font-size: 30px;
            width: 200px;
        }

        @include respond(tab-port){
            font-size: 25px;
        }
    }

    h1{
        width: 560px;
        height: 162px;
        background-image: linear-gradient(to right, #de152d, #fff);
        font-size: 64px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        
        @include respond(tab-land) {
            font-size: 58px;
            width: 530px;
        }

        @include respond(tab-port){
            font-size: 52px;
        }
    }

    h4{
        width: 605px;
        height: 105px;
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #f4f1f1;

        @include respond(tab-land) {
            font-size: 22px;
            width: 480px;
        }

        @include respond(tab-port){
            font-size: 20px;
        }
    }

    .hi{
        z-index: -2;
        color: rgba(255, 255, 255, 0);
        -webkit-text-stroke: 3px rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 45%;
        left: 46%;
        transform: translate(-5%, -20%);
        width: 1200px;
        height: 412px;
        margin: 225px 71px 143px 22px;
        font-family: "Russo One", sans-serif;
        font-size: 284px;
        font-weight: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;

        @include respond(tab-land) {
            font-size: 220px;
            width: 1000px;
            transform: translate(-20%, -5%);
        }
    }

    &_description{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 0;
        max-width: 1320px;
        margin-top: 950px;
        padding-inline: 20px;

        @include respond(tab-land) {
            padding-inline: 0.8rem;
            gap: 0px;
            margin-top: 950px;
        }

        #yearsDiv{
            width: 181px;
            height: 76px;
        }

        #projectsDiv{
            width: 271px;
            height: 76px;
        }

        #happyclientsDiv{
            width: 220px;
            height: 76px;
        
        }

        #followersDiv{
            width: 190px;
            height: 76px;
        }
        .desc{
            flex-grow: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            padding: 0;

            h3{
                display: flex;
                align-items: center;
                flex-grow: 0;
                font-family: 'Sora', sans-serif;
                font-size: 52px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #fff;
            }

            #yearsNum{
                width: 41px;
                height: 76px;
            }

            #projectsNum{
                width: 120px;
                height: 76px;
            }

            #happyclientsNum{
                width: 126px;
                height: 76px;
            }

            #followersNum{
                width: 60px;
                height: 76px;
            }

            #yearsText{
                width: 128px;
                height: 56px;
            }

            #projectsText{
                width: 139px;
                height: 56px;
            }

            #happyclientsText{
                width: 82px;
                height: 56px;
            }

            #followersText{
                width: 107px;
                height: 28px;
            }


            span{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 0;
                font-family: 'Sora', sans-serif;
                font-size: 15px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #fff;
            }
        }
    }

    h3, h1, h4 {
        @include respond(tab-port) {
            text-align: center;
            width: auto; 
            margin: 0; 
        }
    }
}

.hero_right-img{
    width: 438px;
    height: 545px;
    transform: rotate(-354.91deg) translate(26%, -5%);
    border-radius: 62px;
    border: solid 3px #a71616;
    background-image: url("../../assets/pedri3.jpg");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: center;
    cursor: pointer;
    transition: transform 0.5s ease;


    @include respond(tab-land) {
        position: absolute; 
        bottom: -10rem;
        right: 0; 
        width: 300px;
        height: 370px;
        justify-content: flex-end;
        margin-right: 90px;
        background-size: 20rem;
    }

    @include respond(tab-port) {
        display: none;
    }
}

.hero_right-img:hover {
    transform: rotate(-360deg) translate(26%, -5%);
}

.lightShadow{
    position: absolute;
    z-index: -3;
    width: 343px;
    padding: 230px 321px 533px 100px;
    -webkit-filter: blur(340px);
    filter: blur(240px);
    background-image: radial-gradient(circle at 55% 40%, #e86a6a, #5d0c0c 84%);
    transform: translate(-45%, -95%);
}

.lightShadow2{
    position: absolute;
    z-index: -3;
    width: 443px;
    padding: 230px 321px 533px 100px;
    -webkit-filter: blur(340px);
    filter: blur(240px);
    background-image: radial-gradient(circle at 55% 40%, #e86a6a, #5d0c0c 84%);
    transform: translate(200%, -80%);
}