@import '../../styles/mixins.scss';


.historia {
    height: 769px;
    background-color: var(--background2-color);
    display: flex;
    justify-content: space-between;

    .historias{
        margin-top: 80px;
        display: flex;
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: center;
        width: 500px;
        margin-left: 139px;

        h3 {
            width: auto;
            height: auto;
            background-image: linear-gradient(to right, #de172f, #fff);
            font-family: Sora;
            font-size: 45px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
            text-align: center;

            @include respond(tab-land){
                font-size: 42px;
            }
        }
    
        span {
            z-index: 3;
            width: 420px;
            height: 46px;
            flex-grow: 0;
            font-family: Sora;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #f4f1f1;
            word-wrap: break-word;
        }
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;

        .quadros{
            width: 636px;
            height: 417px;
            z-index: 2;
            margin-right: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 24px;
    
    
            .quadro1{
                width: 306px;
                height: 417px;
                border-radius: 20px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: top;
                }

                .name{
                    width: 153px;
                    height: 26px;
                    flex-grow: 0;
                    font-family: Sora;
                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    margin-top: 20px;
                    color: #3e0101;
                }   

                p{
                    text-align: center;
                    padding: 10px 10px 0px 10px;
                }
            }
    
            .quadro2{
                width: 306px;
                height: 417px;
                border-radius: 20px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: top;
                }
                

                .name{
                    width: 153px;
                    height: 26px;
                    flex-grow: 0;
                    font-family: Sora;
                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    margin-top: 20px;
                    color: #3e0101;
                }   

                p{
                    text-align: center;
                    padding: 10px 10px 0px 10px;
                }
            }
        }
    
        .options {
            display: flex;
            justify-content: center; /* Ajuste conforme necessário */
            align-items: center; /* Ajuste conforme necessário */
            margin-top: 30px;
            gap: 10px;
            margin-right: 100px;

            .option {
                width: 14px;
                height: 14px;
                background-color: #3e0101;
                border-radius: 50%; /* Certifica-se de que as bolinhas sejam redondas */
            }

            .option:hover{
                background-color: white;
                transition: background-color 0.5s ease;
                cursor: pointer;
            }
        }
        
    }

}