@import '../../styles/mixins.scss';

.skills {
    height: 769px;
    background-color: var(--background2-color);
    display: flex;
    flex-direction: column; 
    align-items: center;

    h3 {
        width: 248px;
        height: 56px;
        margin: 0 3px 82.2px 4px;
        background-image: linear-gradient(to right, #de172f, #fff);
        font-family: Sora;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .languages {
        display: flex;
        flex-wrap: wrap; 
        align-items: flex-start;
        margin: 0 100px; 
        gap: 79px; 
    }

    #box {
        width: 119px;
        height: 139px;
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        align-items: center; 
        gap: 10px;
        padding: 32px 22px;
        border-radius: 18px;
        background-color: #3e0101;
        transition: background-color 0.5s ease;
        cursor: pointer;

        span {
            width: 75px;
            height: 20px;
            margin: 0; 
            font-family: Sora;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center; 
            color: #fff;
        }

        .uiux{
            width: 4.75rem;
        }
    }

    #box:hover {
        background-color: transparent;
    }
}