@import '../../styles/mixins.scss';


// SEÇÃO PRONTA !!! // Antes era height: 769;, porém, estava gerando conflito.  

.skills {
    min-height: 609px;
    background-color: var(--background2-color);
    display: flex;
    flex-direction: column; 
    align-items: center;
    

    h3 {
        width: auto;
        height: auto;
        margin: 0 0px 82.2px 0px;
        background-image: linear-gradient(to right, #de172f, #fff);
        font-family: Sora;
        font-size: 45px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @include respond(tab-land){
            font-size: 42px;
        }

        @include respond(tab-port){
            font-size: 40px;
        }

        @include respond(phone){
            font-size: 38px;
        }
    }

    .languages {
        display: flex;
        flex-wrap: wrap; 
        align-items: flex-start;
        justify-content: flex-start; 
        margin: 0 100px; 
        gap: 79px; 

        @include respond(tab-land) {
            justify-content: center; // Centraliza os itens em telas menores
        }

        @include respond(tab-port) {
            justify-content: center;
            align-items: center; // Centraliza os itens verticalmente e horizontalmente
        }
    }

    #box {
        width: 119px;
        height: 139px;
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        align-items: center; 
        gap: 10px;
        padding: 32px 22px;
        border-radius: 18px;
        background-color: #3e0101;
        transition: background-color 0.5s ease;
        cursor: pointer;

        span {
            width: 75px;
            height: 20px;
            margin: 0; 
            font-family: Sora;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center; 
            color: #fff;
        }

        img{
            width: 4.75rem;
        }
    }

    #box:hover {
        background-color: transparent;
    }
}
