@import '../../styles/mixins.scss';


.navbar {
    padding-block: 1.2rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow:  0px 2px 40px black;
    background-color: var(--background1-color);

    
    &_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &_logo img{
        width: 100%;
    }

    &_links{
        display: flex;
        align-items: center;
    }

    ul{
        display: flex;
        align-items: center;
        gap: 3rem;
        list-style: none;
        transition: all 3s ease;

        @include respond(tab-port){
            flex-direction: column;
            gap: 3.2rem;
            align-items: center;
            position: absolute;
            top: 150%;
            left: 0;
            padding: 2rem;
            background-color: var(--background1-color);
            display: none;
            width: 100%;
            height: 100vh;
            z-index: 1000;
        }
    }

    a {
        color: #fff;
        font-weight: bold;
        font-family: 'Sora', sans-serif;
        position: relative; 
    
        &::after {
            content: ''; 
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px; 
            background-image: linear-gradient(to right, #de152d, #fff);
            transform: scaleX(0); 
            transition: transform 0.3s ease; 
        }
    
        &:hover::after {
            transform: scaleX(1); 
        }
    
        &:hover {
            background-image: linear-gradient(to right, #de152d, #fff);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background-image 0.3s ease; 
        }
    
        @include respond(tab-port){
            font-weight: bold;
            color: #fff;
        }
    }
    
    &_menu{
        display: none;

        @include respond(tab-port){
            display: inline-block;
            font-size: 2.3rem;
            color: #fff;
        }
    }

    .show {
        display: flex;
    }
    
}

