@import '../../styles/mixins.scss';

.projetos {
    height: 769px;
    background-color: var(--background1-color);

    .projeto{
        display: flex;
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: center;
        z-index: -1;


        h3 {
            width: 280px;
            height: 54.1px;
            background-image: linear-gradient(to right, #de172f, #fff);
            font-family: Sora;
            font-size: 40px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 10px;
        }
    
        span {
            z-index: 3;
            width: 924px;
            height: 46px;
            flex-grow: 0;
            font-family: Sora;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #f4f1f1;

        }
        
        .info-projetos{
            width: 1183px;
            height: 346px;
            margin: 43px 0 0;
            padding: 36px 46px 37px 45px;
            border-radius: 20px;
            background-color: rgba(37, 0, 0, 0.4);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .container{
            width: 285px;
            height: 285px;
            flex-grow: 0;
            border-radius: 2rem;
            background-color: rgb(98, 44, 44);
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 280px;
                height: 280px;
                flex-grow: 0;
                border-radius: 2rem;
            }
        }

    }

}
