@import '../../styles/mixins.scss';

.servico{
    min-height: 100vh;
    

    .servicos {
        background-color: var(--background1-color);
        display: flex;
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: center;
        z-index: -1;
        min-width: 100%;
    
    
        h3 {
            z-index: 3;
            width: auto;
            height: auto;
            flex-grow: 0;
            background-image: linear-gradient(to right, #de172f, #fff);
            font-family: Sora;
            font-size: 45px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 10px;

            @include respond(tab-land){
                font-size: 42px;
            }

            @include respond(tab-port){
                font-size: 40px;
            }

            @include respond(phone){
                font-size: 38px;
            }
        }
    
        span {
            z-index: 3;
            width: 924px;
            flex-grow: 0;
            font-family: Sora;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #f4f1f1;

            @include respond(tab-land) {
                font-size: 14px;
                width: auto;
                margin: 10px;
            }
        }
        
        .info-servicos {
            @include respond(tab-port){
                margin: 10px;
            }
            .servicoNum {
                z-index: 3;
                width: auto; // Ajuste para ocupar a largura total disponível
                max-width: 998px; // Limite máximo para a largura em telas maiores
                display: flex;
                justify-content: center;
                margin-top: 53px;
                height: auto; // Altura ajustável para acomodar todos os elementos
                flex-grow: 0;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 43px;
                padding: 0;
                position: relative;
        
                // Responsividade para tab-port (telas menores que 900px)
                @include respond(tab-port) {
                    flex-direction: column; // Muda para coluna
                    align-items: flex-start; // Alinha à esquerda
                    max-width: 100%; // Remove a limitação de largura
                    gap: 20px; // Diminui o espaçamento entre os itens
                    margin-top: 50px;
                }
        
                .num {
                    width: auto;
                    height: auto;
                    flex-grow: 0;
                    font-family: Sora;
                    font-size: 26px;
                    font-weight: bold;
                    text-align: left;
                    color: #de172f;
                    margin-right: 20px;
        
                    @include respond(tab-land) {
                        font-size: 23px;
                    }
        
                    @include respond(tab-port) {
                        font-size: 20px; // Diminui o tamanho da fonte
                        margin-right: 0; // Remove a margem
                    }
                }
        
                .nome {
                    width: 275px;
                    height: auto;
                    flex-grow: 0;
                    font-family: Sora;
                    font-size: 26px;
                    font-weight: bold;
                    text-align: left;
                    color: #fff;
                    margin-right: 75px;
        
                    @include respond(tab-land) {
                        font-size: 23px;
                        margin-right: 0px;
                    }
        
                    @include respond(tab-port) {
                        font-size: 20px; // Ajuste para telas menores
                        margin-right: 0; // Remove margem
                        width: 100%; // Largura total disponível
                    }
                }
        
                .desc {
                    width: 602px;
                    height: auto;
                    flex-grow: 0;
                    font-family: Sora;
                    font-size: 16px;
                    font-weight: normal;
                    text-align: left;
                    color: #f4f1f1;
        
                    @include respond(tab-land) {
                        font-size: 14px;
                        width: 410px;
                    }
        
                    @include respond(tab-port) {
                        font-size: 14px; // Mantém o tamanho, mas ajusta a largura
                        width: 100%; // Largura total disponível
                    }
                }
        
                .line {
                    width: 998px;
                    height: 0.5px;
                    background-color: #fff;
                    margin-top: 90px;
                    position: absolute;
        
                    @include respond(tab-land) {
                        width: 816px;
                    }
        
                    @include respond(tab-port) {
                        width: 100%; // Largura total em telas menores
                        position: relative; // Muda para relativo
                        margin-top: 30px; // Diminui o espaçamento
                    }
                }
            }
        }
        
    }
    
    .light-shadow{
        position: absolute;
        top: 320%;
        left: 24%;
        width: 308px;
        height: 308px;
        width: 343px;
        padding: 130px 220px 333px 40px;
        -webkit-filter: blur(340px);
        filter: blur(240px);
        background-image: radial-gradient(circle at 55% 40%, #e86a6a, #5d0c0c 84%);
        transform: translate(-45%, -95%);
        z-index: 2; // Certifique-se de que o shadow fique atrás do conteúdo principal

        @include respond(tab-land) {
            top: 310%;
            left: 20%;
            transform: translate(-45%, -90%); // Ajuste fino para tablets
        }
    
        @include respond(tab-port) {
            top: 380%;
            left: 15%;
            transform: translate(-40%, -85%); // Ajuste fino para telas ainda menores
        }
    
        @include respond(phone) {
            top: 320%;
            left: 10%;
            transform: none; // Remova transformações para telas de celulares
        }
    }
}
